 <html xmlns="http://www.w3.org/1999/xhtml">
     <head>
        <title><%= @title %></title>
        <link type="text/css" rel="stylesheet" media="all" href="../stylesheet.css" />
     </head>
     <body>
        <div class="left">
<%= @body %>        </div>
    </body>
 </html>