<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Table of Contents</title>
        <link type="text/css" rel="stylesheet" media="all" href="../stylesheet.css" />
    </head>
    <body>
        <div>
            <h3 style="font-weight:normal;text-align:center;"><%= @nameOfArc %></h3>
            <br />
            <div>
<%= @index %></div>
        </div>
    </body>
</html>
