<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Tensei Shitara Slime datta ken</title>
        <link type="text/css" rel="stylesheet" media="all" href="../stylesheet.css" />
    </head>
    <body>
        <div id="cover">
            <%= @cover %>
        </div>
    </body>
</html>