<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Credits</title>
        <link type="text/css" rel="stylesheet" media="all" href="../stylesheet.css" />
    </head>
    <body>
        <div class="center">
            <h3>Tensei Shitara Slime datta ken</h3>
            <p><a href="http://ncode.syosetu.com/n6316bn/">Original Webnovel</a> by Fuse</p>
            <h3>CREDITS:</h3>
            <div class="left">
<%= @credits %>
            </div>
        </div>
    </body>
</html>