<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Table of Contents</title>
        <link type="text/css" rel="stylesheet" media="all" href="../stylesheet.css" />
    </head>
    <body>
        <div>
            <h3>Tensei Shitara Slime datta ken</h3>
            <h4><i>- Regarding Reincarnated to Slime -</i></h4>
            <h3 style="font-weight:normal;"><%= @nameOfArc %></h3>
            <br />
            <div class="left">
<%= @index %></div>
        </div>
    </body>
</html>